.App {
  display: flex;
  justify-content: center;
  align-items: center; 
 gap: 15px;
}
.App button{
  width: 30px;
  height: 30px;
  background-color:blueviolet;
  color: white;
  font-size: 25px;
  
}

