.App{
    text-align: center;
}

ul {
list-style-type: none;
}
li{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 10px;
}

input:checked + span{
    text-decoration: line-through;
}
